<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 5;
            font-family: 'Quicksand', sans-serif;
        }

        #app {
            margin: 100px auto
        }

        header,
        footer {
            text-align: center;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }

        li {
            list-style: none;
        }

        .error {
            color: red;
        }

        .input-group {
            margin-bottom: 5px;
        }
    </style>

    <title>Vue Beginners</title>
</head>

<body>

    <div id="app">
        <header-component nama="vuejs" gambar="./img/logo.svg"></header-component>

        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
            <router-link to="/kelas">Kelas</router-link>
        </nav>

        <main>
            <router-view v-bind:items="kelas" v-on:submit-kelas="submitKelas" v-on:hapus-kelas="hapusKelas">
            </router-view>
            <!-- <kelas v-bind:items="kelas" v-on:submit-kelas="submitKelas" v-on:hapus-kelas="hapusKelas"></kelas> -->
        </main>

        <footer-component>
            <p>Copyright 2020</p>
        </footer-component>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBrCfkAiDG4Gof5pxadsGEvECSdYz7Y84M",
            authDomain: "tutorial-vuejs-ec3f4.firebaseapp.com",
            projectId: "tutorial-vuejs-ec3f4",
            storageBucket: "tutorial-vuejs-ec3f4.appspot.com",
            messagingSenderId: "122248413889",
            appId: "1:122248413889:web:e58e99fe20f8812805ca40",
            databaseURL: "https://tutorial-vuejs-ec3f4-default-rtdb.asia-southeast1.firebasedatabase.app"
        };

        // Initialize Firebase
        const app = firebase.initializeApp(firebaseConfig);
        const db = firebase.database();
        const kelasRef = db.ref('kelas');
    </script>


    <script>
        const Home = {
            template: `<div>Home</div>`
        }
        const About = {
            template: `<div>About</div>`
        }

        const detailKelas = {
            template: `
            <div>
                <img v-bind:src="urlGambar(detailKelas.gambar)" width="100">
                <h3>{{ detailKelas.judul }} - {{ $route.params.idKelas }}</h3>
                <p>{{ detailKelas.deskripsi }}</p>
                <router-link to="/kelas">Kembali</router-link>    
            </div>
            `,
            data() {
                return {
                    detailKelas: {}
                }
            },
            created() {
                this.filterKelas()
            },
            methods: {
                filterKelas() {
                    let kelas = JSON.parse(localStorage.getItem('kelas'))
                    let id = this.$route.params.idKelas
                    let item = kelas.filter((k) => {
                        return k.id == id
                    })
                    this.detailKelas = item[0]
                },
                urlGambar(gambar) {
                    return `./img/${gambar}`
                }
            }
        }

        const Kelas = {
            props: ['items', 'input'],
            template: `
            <div>      
                <h3>Tambah Kelas.</h3>
                
                <form v-on:submit.prevent='submitKelas'>
                    <div class='input-group'>
                        <input type="text" placeholder='Nama Kelas' v-model="kelas.judul">
                        <div class='error' v-if='error.judul'>
                            <small>{{ error.judul }}</small>
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <label>Deskripsi: </label><br>
                        <textarea v-model="kelas.deskripsi"></textarea> 
                        <div class='error' v-if='error.deskripsi'>
                            <small>{{ error.deskripsi }}</small>
                        </div> 
                    </div>

                    <div class="input-group">
                        <p>
                            <img v-bind:src="previewImg" v-if="previewImg" width="200">
                        </p>
                        <label>Masukkan Gambar</label><br>
                        <input type="file" ref="gambar" v-on:change="upload">
                    </div>
                    <button type="submit">Submit</button>
                </form>
                
                
                <hr>
                <h3>Daftar Kelas ({{ items.length }})</h3>
    
                <template v-if="items.length > 0">
                    <ul>
                        <li v-for="(k,i) of items">
                           
                            <img v-bind:src="'/img/'+k.gambar" width="100">
                         <p>
                            {{ i+1 }} - {{ k.judul  }}
                            <a href="" v-on:click.prevent="$emit('hapus-kelas',k.id)">Hapus</a>
                            <router-link v-bind:to="'/kelas/'+k.id">Lihat Kelas</router-link>
                        </p>
                           
                        </li>
                            
                    </ul>
                </template>
    
                <ul v-else>
                    <li>kelas belum tersedia</li>
                </ul>
            </div>
            `,
            data: function () {
                return {
                    kelas: {
                        judul: '',
                        deskripsi: '',
                        gambar: ''
                    },
                    previewImg: '',
                    error: {
                        judul: '',
                        deksripsi: ''
                    },
                }
            },
            methods: {
                submitKelas() {

                    this.error.judul = ''
                    this.error.deskripsi = ''

                    if (this.kelas.judul == '') {
                        this.error.judul = 'Judul is required'
                    }

                    if (this.kelas.deskripsi == '') {
                        this.error.deskripsi = 'Deskripsi is required'

                    }

                    if (this.kelas.deskripsi && this.kelas.judul) {
                        const data = {
                            id: uuidv4(),
                            judul: this.kelas.judul,
                            deskripsi: this.kelas.deskripsi,
                            gambar: this.kelas.gambar
                        }
                        this.$emit('submit-kelas', data)

                        this.kelas.judul = ''
                        this.kelas.deskripsi = ''
                        this.kelas.gambar = ''
                        this.previewImg = ''
                        this.$refs.gambar.value = ''
                    }
                },

                upload(event) {
                    const namaGambar = event.target.files[0].name
                    this.kelas.gambar = namaGambar
                    this.previewImg = URL.createObjectURL(event.target.files[0])
                }
            }
        }

        const NotFound = {
            template: '<div>Halaman tidak ditemukan.</div>'
        }

        Vue.component('header-component', {
            props: ['nama', 'gambar'],

            template: `
            <header>
                <img v-bind:src="gambar" alt="" width="200">
                <p>
                  {{ 'Hello, '+nama }}  
                </p>
            </header>
            `,
            data: function () {
                return {
                    pesan: 'Hello, Component!'
                }
            }
        })

        Vue.component('footer-component', {
            template: `
            <footer id="footer">
                <slot></slot>
            </footer>
            `
        })

        Vue.component('kelas', {

        })


        const routes = [{
                path: '/',
                component: Home
            },
            {
                path: '/home',
                component: Home
            },
            {
                path: '/about',
                component: About
            },
            {
                path: '/kelas',
                component: Kelas
            },
            {
                path: '/kelas/:idKelas',
                component: detailKelas
            },
            {
                path: '*',
                component: NotFound
            }
        ]

        const router = new VueRouter({
            mode: 'history',
            routes
        })

        const vm = new Vue({
            router,
            components: {
                'home': Home
            },
            data: {
                kelas: [
                    // {
                    //     id: 1,
                    //     judul: 'Vuejs',
                    //     deskripsi: 'The Progressive Javascript Framework',
                    //     gambar: 'vuejs.svg'
                    // },
                    // {
                    //     id: 2,
                    //     judul: 'Reactjs',
                    //     deskripsi: 'A Javascript library for building user interfaces',
                    //     gambar: 'reactjs.png'
                    // }
                ],
                kelasBaru: ''
            },
            created() {
              
                kelasRef.on('value', this.resulData, this.errorData)
                console.log('created')
            },
            beforeCreate() {
                console.log('beforeCreate')
            },
            updated() {
                console.log('updated')
            },
            methods: {
                resulData(items) {
               
                    items.forEach(item => {
                        this.kelas.push(item.val())
                    })
                },
                errorData(err) {
                    console.log(err)
                },
                hapusKelas: function (id) {
                    this.kelas = this.kelas.filter((item) => {
                        return item.id != id
                    })
                    localStorage.setItem('kelas', JSON.stringify(this.kelas))

                    swal({
                        text: 'Data kelas berhasil dihapus',
                        icon: 'warning'
                    })
                },
                submitKelas(data) {
                    this.kelas = []
                    
                    kelasRef.push({
                        judul: data.judul,
                        deskripsi: data.deskripsi,
                        gambar: data.gambar
                    })

                    swal({
                        title: this.kelas.judul,
                        text: 'Data kelas berhasil disimpan',
                        icon: 'success'
                    })
                }
            },
            computed: {

            }
        })

        vm.$mount('#app')
    </script>
</body>

</html>